@import "./iconfont.css";

* {
  margin: 0;
  padding: 0;
  --top-height: 55px;
}

body {
  background: black url("../public/wallpaper/1.jpg") no-repeat;
  background-size: 100vw 100vh;
  animation: background-picture 120s infinite;
}

@keyframes  background-picture{
  0%{
    background: url("../public/wallpaper/1.jpg") no-repeat;
    background-size: 100vw 100vh;
  }
  12.5%{
    background: url("../public/wallpaper/2.jpg") no-repeat;
    background-size: 100vw 100vh;
  }
  25%{
    background: url("../public/wallpaper/3.jpg") no-repeat;
    background-size: 100vw 100vh;
  }
  37.5%{
    background: url("../public/wallpaper/4.jpg") no-repeat;
    background-size: 100vw 100vh;
  }
  50%{
    background: url("../public/wallpaper/5.jpg") no-repeat;
    background-size: 100vw 100vh;
  }
  62.5%{
    background: url("../public/wallpaper/6.jpg") no-repeat;
    background-size: 100vw 100vh;
  }
  75%{
    background: url("../public/wallpaper/7.jpg") no-repeat;
    background-size: 100vw 100vh;
  }
  87.5%{
    background: url("../public/wallpaper/8.jpg") no-repeat;
    background-size: 100vw 100vh;
  }
}

.list-edition{
  z-index: 10;
  font-size: 1.2em;
  position: fixed;
  width: 100%;
  height: var(--top-height);
  background-color: rgb(122, 109, 101);
  display: flex;
  flex-direction: row;
  justify-content: space-between ;
  user-select: none;
}

.logo-div {
  line-height: var(--top-height);
  display: flex;
  align-items: center;
}

.logo {
  width: calc(var(--top-height) - 10px);
  height: calc(var(--top-height) - 10px);
  margin-left: 5px;
  border-radius: 10px;
}

.menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  color: #e3e3e3;
  padding-left: 15px;
}

.menu li {
  line-height: var(--top-height);
  padding: 0 30px;
  text-align: center;
  position: relative;
}

.menu li:hover .drop-down li {
  animation-name: drop-down-anim;
  animation-duration: .3s;
  animation-fill-mode: forwards;
}

@keyframes drop-down-anim {
  0% {height: 0;top: 100%;color: rgba(30,30,45,0);}
  100% {height: 40px;top: 100%;color: rgb(30,30,45,0.85);}
}

.drop-down {
  list-style: none;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: rgba(30,30,45,0.85);
}

.drop-down li {
  height: 0px;
  line-height: 40px;
  margin-top: 0;
  background-color: rgb(122, 109, 101);
  overflow: hidden;
}

.edition-item {
  text-decoration-line: none;
  color: #e3e3e3;
  transition: all 0.3s;
}

.edition-item:hover {
  color: #93a393;
}

.menu li span {
  cursor: pointer;
}

.below-bar .arrow-container {
  position: absolute;
  top: 5%;
  left: -25px;
  height: 25px;
  width: 25px;
  background: linear-gradient(to right bottom,
  rgba(255, 255, 255, 1),
  rgba(255, 255, 255, .8));
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.below-bar.close {
  position: absolute;
  top: 80px;
  transform: translateX(345px);
  transition: all 0.8s ease-in-out;
}

.below-bar {
  position: absolute;
  top: 80px;
  right: 10px;
  transform: translateX(0px);
  transition: all 0.8s ease-in-out;
}

.below-bar.close .arrow-container .toggle {
  transform: translateY(40%) rotate(180deg);
  color: rgb(40, 45, 100);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.8s ease-in-out;
}

.below-bar .toggle {
  transform: translateY(40%) rotate(0deg);
  color: rgb(40, 45, 100);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.8s ease-in-out;
}




/*.edition-item.active{*/
/*  color: greenyellow;*/
/*}*/